{% extends 'base.html' %}

{% block content %}

    <div class="container"> 
        <div class="card">
          <div class="card-body">
            <h1>{{ blog.title }}</h1>
            <p>{{ blog.pub_date }}</p>
            <p>{{ blog.body }}</p>   
            <br>
            {% if blog.images %}
                <img src="{{ blog.images.url }}" width="500" height="500">
            {% endif %}
            <br>
            <br>
            <a href="{% url 'update' blog.id %}"><img src="/static/update.png" alt="수정" width="30"></a>
            <a href="{% url 'delete' blog.id %}"><img src="/static/delete.png" alt="삭제" width="30"></a>
          </div>
        </div>
      </div>
    <div class="container">
      <!--생략-->
      <br>
       <style>
        #border{
        text-align:'center';
        border: 1px solid black;
        border-radius: 10px;
      }
       #solid{
         font-weight: bold;
       }
       #ba{
        text-align:'center';
        border: 1px solid #0054DF;
        border-radius: 80px / 40px;
        box-sizing: border-box;
				width: 90px;
        font-weight: bold;
        background: #50bcdf;
       }
       </style>
      <p id ='ba'> -댓글 목록-</p>
      {% for comment in comments %}
      <p id ='border'><span><a id='solid'>{{user.username}}</a>님의 댓글</span> : {{comment.body}} - {{comment.date}}</p>

      {% endfor %}
      <form method="POST">
        {% csrf_token %}
        댓글 작성 : <input name="body" text-align=left type="text" value="" style="width:1000px;height:38px;background:#EAEAEA;
        padding:7px; border:#0054DF; box-sizing: border-box;"></input>
        <button type="submit" class="btn btn-secondary">작성</button>
      </form>
      
      </div>      
{% endblock %}
