{% extends 'base.html' %}

{% block content %}

<h1>회원가입</h1>

<form method="POST" action="{% url 'signup'%}">
    {% csrf_token %}
    아이디:
    <br>
    <input name="username"  type="text" >
    <br>
    비밀번호:
    <br>
    <input name="password1"  type="password" >
    <br>
    비밀번호 확인:
    <br>
    <input name="password2"  type="password" >
    <br>
    이메일:
    <br>
    <input name="email" type="email">
    <br>
    학과:
    <br>
    <select name="dept" class="form-select" aria-label="Default select example">
        <option selected>선택</option>
        <option value="Software">소프트웨어학과</option>
        <option value="DataScience">데이터사이언스학과</option>
        <option value="Computer">컴퓨터공학과</option>
    </select>
    <!-- <input name="dept" type="text"> -->
    <br>
    취업:
    <br>
    <select name="employ" class="form-select" aria-label="Default select example">
        <option selected>선택</option>
        <option value="T">받음</option>
        <option value="F">받지않음</option>
    </select>
    <br>
    창업:
    <br>
    <select name="founded" class="form-select" aria-label="Default select example">
        <option selected>선택</option>
        <option value="T">받음</option>
        <option value="F">받지않음</option>
    </select>
    <br>
    인턴:
    <br>
    <select name="intern" class="form-select" aria-label="Default select example">
        <option selected>선택</option>
        <option value="T">받음</option>
        <option value="F">받지않음</option>
    </select>
    <br>
    대학원:
    <br>
    <select name="graduate_school" class="form-select" aria-label="Default select example">
        <option selected>선택</option>
        <option value="T">받음</option>
        <option value="F">받지않음</option>
    </select>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="회원가입">
</form>

{% endblock %}